body {

  margin-right: 50px;
  margin-left:50px;
  color:white
}


header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: 15px;
}
span {
  color: green;
}
#johnny {
  color:black;
  margin-left:50px
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 10px;
}
li :hover {
  border-bottom: 1px solid black;

}
nav a {
  font-size: 1.3em;
  text-decoration: none;
  color: white;
}
 img {
  width: 150px;
  height: 150px;

  background-size: cover;

  background-position: top center;

  border-radius: 50% ;
  border: 20px solid black;
  
}


#article1 {
  height: 250px;
  justify-content: space-around;
  background-color: rgb(20, 41, 48);
  align-items: center;

  display: flex;

  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
 img {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  border: 15px solid black;
}

#profile 
{
border: 10px solid white;
border-radius:100px;
}
#article2 {
  height: 250px;
  justify-content: space-around;
  background-color: rgb(158, 147, 147);
  align-items: center;
  padding: 10px;
  display: flex;
  text-align: left;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

}
#identification  li {
 list-style: none;
}