#bloc_page
{
  margin-left: 20px;
  margin-right: 20px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 15px;
}
.titre 
{
  color: red
}

#title {
  display: flex;
}
nav ul {
  list-style: none;
  display: flex;
}
nav li {
  margin-right: 15px;
  font-size:10px;
}
nav a {
  font-size: 1.3em;
  text-decoration: none;
}

#article1 {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 250px;
  justify-content: space-around;
  background-color: lightblue;
  align-items: center;
  padding: 10px;
  display: flex;
  text-align: center;
}
#profil img {
  width: 300px;
  height: 200px;
}
#article2 {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 250px;
  justify-content: space-around;
  background-color: whitesmoke;
  align-items: center;
  padding: 10px;
  display: flex;
  text-align: left;
}
#identification li {
  list-style: none;
}