#bloc_page
{
  margin-left: 75px;
  margin-right: 70px;
  position: relative;
}
.name h1{
  font-size: 35px;
  font-family: 'Trebuchet MS';

}
.name p{
  font-size: 16px;
  position: relative;
  top: -6vh;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 15px;
}
.titre 
{
  color: green
}

#title {
  display: flex;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li:hover{
  border-bottom: 2px solid green;

}
nav li {
  margin-right: 15px;
  font-size:10px;
}
nav a {
  font-size: 1.3em;
  text-decoration: none;
}
button{
  border: none;   
  border-bottom: 1px solid silver;
  padding: 10px;
  box-shadow: 0px 2px 0 solid silver;
}
span{
  color: green;
}
#article1 {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 250px;
  justify-content: space-around;
  background-color: rgb(118, 205, 245);
  align-items: center;
  padding: 10px;
  display: flex;
  text-align: center;
}
#profil img {
  width: 300px;
  height: 250px;
  position: absolute;
  top: 20vh;
  left: 95px;
}
#article2 {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 250px;
  justify-content: space-around;
  background-color: whitesmoke;
  align-items: center;
  padding: 10px;
  display: flex;
  text-align: left;
}
#identification li {
  list-style: none;
}